.faq-item {
    background: #fefcf8;
    border-left: 6px solid #7a3ff4;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    color:black;


  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }
  
  .faq-question h2 {
    color:black;
  }
  
  .toggle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7a3ff4;
  }
  
  .faq-answer {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  