body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: larger;
}

#box {
        width: 200px;
        height: 150px;
        background-color: #4CAF50; /* Green background */
        color: white;
        padding: 20px;
        margin: 20px auto;
        text-align: center;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
        border: 2px solid #000; /* Black border */
        border-radius: 10px;
}
    

