.studyrooms-container {
  background-color: white !important; /* Override global styles */
  color: black !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.studyrooms-topper, backHomeBtn{
  position: top-aligned, left-aligned;
  display: flex;
  align-items: center;
  padding: 0px;
  width: 100%; /* Ensure the header spans the width of the screen */
  height: 90px;
  box-sizing: border-box;
  background-image: none;
  
}

.topRight {
  position: top-aligned, right-aligned;
  display: flex;
  align-items: right;
}

#loginBtn {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  background-color: #f37e9a;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#loginBtn:hover {
  letter-spacing: 3px;
  background-color: #ffffff;
  color: #f37e9a;
  box-shadow: #ffffff 0px 7px 29px 0px;
}

#loginBtn:active {
  letter-spacing: 3px;
  background-color: #ffffff;
  color: #f37e9a;
  box-shadow: #ffffff 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


.clock-display{
  font-size: 9rem; /* Large numbers */
  font-weight: 700; /* Bold */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Soft glow effect */
  background: transparent; /* No background color */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
