.server-layout {
    display: flex;
    height: 80vh;
}

.serverlist {
    width: 250px;
    background: white;
    min-width: 200px;
    max-width: 400px;
    color: black;
    padding: 20px;
    overflow-y: auto;
    border-right:2px solid black;
    border-radius: 20px;
}

.server-item {
    display: block;
    font-size: 20px;
    width: 100%;
    height: 4pc;
    padding: 10px;
    margin: 5px 0;
    background: #007bff;;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.server-item:hover {
    background: #444;
}

.ServerChatRoomContainer {
    flex-grow: 1;
    padding: 20px;
    background: #ffffff;
    overflow-y: auto;
    color:#000000;
    border-radius: 20px;
}

.message-item {
    padding: 10px;
    margin: 10px 0;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.message-item:hover {
    background: #ddd;
}
