.detail{
    flex:1;

    .user{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid #16161635;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .option{
            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(247, 162, 202, 0.749);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;

                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img{
                            width: 40px;
                            height: 40px;border-radius: 5px;
                            object-fit: cover;
                        }

                        span{
                            font-size: 14px;
                            color: #1616167b;
                            font-weight: 300;
                        }
                    }
                    .icon{
                        width: 30px;
                        height: 30px;
                        background-color: rgba(247, 162, 202, 0.749);
                        padding: 10px;
                        border-radius: 50%;
                        cursor: pointer;

                    }
                }
            }
        }
        button{
            padding: 15px;
            background-color: rgba(255, 65, 23, 0.403);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: rgb(255, 65, 23);
            }
            &.logout{
                padding: 10px;
                background-color:  rgb(47, 108, 252, 0.7);
            }
        }
        
        .back-home-btn {
            background-color: #000000;
            color: white;
            padding: 15px;            
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
  
        .back-home-btn:hover {
            background-color: rgba(255, 93, 166, 0.31);;
        }
  
    }

}
