body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.container {
  background: #F37E9A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}
h2 {
  text-align: center;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #F37E9A;
  border-radius: 5px;
  background-color: white; 
  color: black;
}
button {
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  background: #d1a4e1;
  color: PURPLE;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;


}
button:hover {
  background: #eab5c1;
}