/* Timer.css */
.pomodoro-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;  /* Align horizontally at the center */
  align-items: center;      /* Align vertically at the center */
  height: 100vh;            /* Full height of the viewport */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.pomodoro-container {
  text-align: center;
  background-color: #d4b0cd; /* Light background for the timer box */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 400px;  /* You can adjust the width based on your preference */
  font-family: 'Baloo 2', sans-serif;
}

.time-select label {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  display: block;
  font-family: 'Baloo 2', sans-serif;
}

.time-select input {
  font-family: 'Baloo 2', sans-serif; /* Same font */
  font-size: 1rem; /* Set font size */
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #F37E9A; /* Change input background color */
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
  padding: 20px;
  background-color: #f5f0f2;  /* Light background color */
  border-radius: 10px;         /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Shadow effect */
  color: #333;  /* Dark color for the time text */
}

button {
  padding: 8px 15px;
  margin: 0px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f37e9a;
  color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);  /* Shadow effect */
}

button:hover {
  background-color: #e7dee1;
}

.session-selector {

  display: flex;
  justify-content: center;
  gap: 20px;
}

.session-selector label {
  font-size: 1rem;
  font-weight: bold;
  color: #f37e9a;
  cursor: pointer;
}
